<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Fancy Textile</title>
    <meta name="description" content="Explore the new treands of fashion." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

    <!-- CSS 
    ========================= -->

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/plugins.css" />

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <style>
      ::-webkit-scrollbar {
        width: 10px;
        border-radius: 20px;
        background: #1c1d22;
      }

      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #0a505c;
        border-radius: 20px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 15px;
        /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.185);  */
        background: whitesmoke;
      }
    </style>
  </head>

  <body>
    <!--header area start-->

    <!--Offcanvas menu area start-->
    <div class="off_canvars_overlay"></div>
    <div class="Offcanvas_menu">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="canvas_open">
              <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
            </div>
            <div class="Offcanvas_menu_wrapper">
              <div class="canvas_close">
                <a href="javascript:void(0)"
                  ><i class="ion-android-close"></i
                ></a>
              </div>
              <div class="header_account"></div>
              <div class="header_right_info"></div>

              <div id="menu" class="text-left">
                <ul class="offcanvas_main_menu">
                  <li><a href="#home"> Home</a></li>
                  <li><a href="#products"> Products</a></li>
                  <li><a href="#gallery"> Gallery</a></li>
                  <li><a href="#reviews"> Reviews</a></li>
                  <li><a href="#contact"> Contact Us</a></li>
                </ul>
              </div>

              <div class="Offcanvas_footer">
                <span
                  ><a href="mailto:info@fancytextile.in"
                    ><i class="fa fa-envelope-o"></i> info@fancytextile.in</a
                  ></span
                >
                <ul>
                  <li class="instagram">
                    <a
                      href="https://www.instagram.com/p/CeGnzKKJcy1/?igshid=YmMyMTA2M2Y="
                      ><i class="fa fa-instagram"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Offcanvas menu area end-->

    <header>
      <div class="main_header header-mobile-m">
        <div class="header_top">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <div class="header_account">
                  <ul>
                    <li class="language">
                      <a href="mailto: info@fancytextile.in">
                        info@fancytextile.in
                      </a>
                    </li>
                    <li class="currency">
                      <a href="tel:01615099800">01615099800</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="header_social text-right">
                  <ul>
                    <!-- <li>
                      <a href="#"><i class="fa fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-google-plus" aria-hidden="true"></i
                      ></a>
                    </li> -->
                    <li>
                      <a
                        href="https://www.instagram.com/p/CeGnzKKJcy1/?igshid=YmMyMTA2M2Y="
                        ><i class="fa fa-instagram" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="mailto:info@fancytextile.in"
                        ><i class="fa fa-envelope" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header_container sticky-header">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-3">
                <div class="logo">
                  <a href="#home"><img src="/img/logo/logo.png" alt="" /></a>
                </div>
              </div>
              <div class="col-lg-9">
                <div class="header_container_right">
                  <!--main menu start-->
                  <div class="main_menu menu_position">
                    <nav>
                      <ul>
                        <li><a href="#home"> Home</a></li>
                        <li><a href="#products"> Products</a></li>
                        <li><a href="#gallery"> Gallery</a></li>
                        <li><a href="#reviews"> Reviews</a></li>
                        <li><a href="#contact"> Contact Us</a></li>
                      </ul>
                    </nav>
                  </div>
                  <!--main menu end-->
                  <div class="header_right_info"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--header area end-->

    <!--slider area start-->
    <section id="home" class="slider_section slider_s_one mb-40">
      <div class="slider_area owl-carousel">
        <div
          class="single_slider d-flex align-items-center"
          data-bgimg="/img/slider/slider1.jpg"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-7">
                <div class="slider_content content_left">
                  <h1>fashion sale</h1>
                  <h2>30% off</h2>
                  <p>Look good with our finest suits.</p>

                  <a class="button" href="#contact"
                    >Contact Now <i class="zmdi zmdi-long-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="single_slider d-flex align-items-center"
          data-bgimg="/img/slider/pexels-cottonbro-9208552.jpg"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-6 offset-lg-6 col-md-6 offset-md-6">
                <div class="slider_content content_right">
                  <h1>Latest collection</h1>
                  <h2>50% off</h2>
                  <p>Best of season collection is here.</p>
                  <a class="button" href="#contact"
                    >Contact Now <i class="zmdi zmdi-long-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--slider area end-->

    <!--banner area start-->
    <div class="banner_area mb-66">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <figure class="single_banner">
              <div class="banner_thumb">
                <img src="/img/bg/banner1.webp" alt="" />
                <div class="banner_conent">
                  <h3>sale up to</h3>
                  <h2>20%</h2>
                  <p>On Coats</p>
                </div>
              </div>
            </figure>
          </div>
          <div class="col-lg-4 col-md-4">
            <figure class="single_banner">
              <div class="banner_thumb">
                <img src="/img/bg/banner2.webp" alt="" />
                <div class="banner_conent">
                  <h3></h3>
                  <h2>100%</h2>
                  <p>Fine Quality</p>
                </div>
              </div>
            </figure>
          </div>
          <div class="col-lg-4 col-md-4">
            <figure class="single_banner">
              <div class="banner_thumb">
                <img src="/img/bg/banner3.webp" alt="" />
                <div class="banner_conent">
                  <h3>model & Trending</h3>
                  <h2>2022</h2>
                  <p>Collections</p>
                </div>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <!--banner area end-->

    <!--product area start-->
    <div id="products" class="product_area mb-65">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section_title">
              <h2>Our Products</h2>
              <div class="product_tab_btn">
                <ul class="nav" role="tablist">
                  <li>
                    <a
                      class="active"
                      data-bs-toggle="tab"
                      href="#Suits"
                      role="tab"
                      aria-controls="Men"
                      aria-selected="true"
                    >
                      Suits
                    </a>
                  </li>
                  <li>
                    <a
                      data-bs-toggle="tab"
                      href="#Kurtas"
                      role="tab"
                      aria-controls="Women"
                      aria-selected="false"
                    >
                      Kurtas
                    </a>
                  </li>
                  <li>
                    <a
                      data-bs-toggle="tab"
                      href="#Sherwanis"
                      role="tab"
                      aria-controls="Watches"
                      aria-selected="false"
                    >
                      Sherwanis
                    </a>
                  </li>
                  <li>
                    <a
                      data-bs-toggle="tab"
                      href="#Shirts"
                      role="tab"
                      aria-controls="Watches"
                      aria-selected="false"
                    >
                      Shirts
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="Suits" role="tabpanel">
            <div class="row">
              <div class="product_carousel product_column4 owl-carousel">
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/suits/1.png"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/suits/2.png"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/suits/3.png"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/suits/4.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/suits/5.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/suits/6.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/suits/7.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/suits/8.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Kurtas" role="tabpanel">
            <div class="row">
              <div class="product_carousel product_column4 owl-carousel">
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/kurtas/WhatsApp Image 2022-08-12 at 11.03.15 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/kurtas/WhatsApp Image 2022-08-12 at 11.03.16 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/kurtas/WhatsApp Image 2022-08-12 at 11.03.17 PM (1).jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/kurtas/WhatsApp Image 2022-08-12 at 11.03.18 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/kurtas/WhatsApp Image 2022-08-12 at 11.03.17 PM (2).jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/kurtas/Men's Wedding And Party Wear Waistcoat And Kurta __New Waistcoat Designs (1).png"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/kurtas/WhatsApp Image 2022-08-12 at 11.03.17 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/kurtas/WhatsApp Image 2022-08-12 at 11.03.18 PM (1).jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Sherwanis" role="tabpanel">
            <div class="row">
              <div class="product_carousel product_column4 owl-carousel">
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/sherwanis/WhatsApp Image 2022-08-12 at 10.58.14 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/sherwanis/WhatsApp Image 2022-08-12 at 10.58.15 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/sherwanis/WhatsApp Image 2022-08-12 at 10.58.16 PM (1).jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/sherwanis/WhatsApp Image 2022-08-12 at 10.58.16 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/sherwanis/WhatsApp Image 2022-08-12 at 10.58.17 PM (1).jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/sherwanis/WhatsApp Image 2022-08-12 at 10.58.17 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/sherwanis/WhatsApp Image 2022-08-12 at 10.58.18 PM (1).jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/sherwanis/WhatsApp Image 2022-08-12 at 10.58.18 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Shirts" role="tabpanel">
            <div class="row">
              <div class="product_carousel product_column4 owl-carousel">
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/shirts/WhatsApp Image 2022-08-12 at 11.05.49 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/shirts/WhatsApp Image 2022-08-12 at 11.05.50 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/shirts/WhatsApp Image 2022-08-12 at 11.05.51 PM (1).jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/shirts/WhatsApp Image 2022-08-12 at 11.05.51 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/shirts/WhatsApp Image 2022-08-12 at 11.05.52 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/shirts/WhatsApp Image 2022-08-12 at 11.05.53 PM (1).jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="product_items">
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/shirts/WhatsApp Image 2022-08-12 at 11.05.53 PM (2).jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                    <article class="single_product">
                      <figure>
                        <div class="product_thumb">
                          <img
                            class="primary_img"
                            src="/img/products/shirts/WhatsApp Image 2022-08-12 at 11.05.53 PM.jpeg"
                            alt=""
                          />
                        </div>
                        <figcaption class="product_content">
                          <h4 class="product_name">Donec Ac Tempus</h4>
                          <div class="price_box">
                            <span class="old_price">Rs42000.00</span>
                            <span class="current_price">Rs18000.00</span>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--product area end-->

    <!--blog area start-->
    <section id="gallery" class="blog_section mb-65">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section_title">
              <h2>Gallery</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="blog_carousel blog_column3 owl-carousel">
            <div class="col-lg-3">
              <article class="single_blog">
                <figure>
                  <div class="blog_thumb">
                    <img
                      src="/img/gallery/christian-wiediger-I8-T4lMCA6k-unsplash.jpg"
                      alt=""
                    />
                  </div>
                  <figcaption class="blog_content">
                    <h4 class="post_title">Visit Our Shop</h4>
                    <p class="post_desc">
                      Everything you need at one place, Fine quality fabric with
                      great offers.
                    </p>
                  </figcaption>
                </figure>
              </article>
            </div>
            <div class="col-lg-3">
              <article class="single_blog">
                <figure>
                  <div class="blog_thumb">
                    <img
                      src="/img/gallery/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg"
                      alt=""
                    />
                  </div>
                  <figcaption class="blog_content">
                    <h4 class="post_title">Best Suggestions For Your Style</h4>
                    <p class="post_desc">
                      We provide the best for you. Most comfortable stuff that
                      brings out the real you.
                    </p>
                  </figcaption>
                </figure>
              </article>
            </div>
            <div class="col-lg-3">
              <article class="single_blog">
                <figure>
                  <div class="blog_thumb">
                    <img
                      src="/img/gallery/clark-street-mercantile-qnKhZJPKFD8-unsplash.jpg"
                      alt=""
                    />
                  </div>
                  <figcaption class="blog_content">
                    <h4 class="post_title">Attractive Offers</h4>
                    <p class="post_desc">
                      Latest trending styles with attractive prices. Year long
                      offers for what you are looking for.
                    </p>
                  </figcaption>
                </figure>
              </article>
            </div>
            <div class="col-lg-3">
              <article class="single_blog">
                <figure>
                  <div class="blog_thumb">
                    <img
                      src="/img/gallery/clark-street-mercantile-vC-GqGbakJo-unsplash.jpg"
                      alt=""
                    />
                  </div>
                  <figcaption class="blog_content">
                    <h4 class="post_title">
                      Quality assurance for each thread.
                    </h4>
                    <p class="post_desc">
                      We assure that the quality of the fabric with years of
                      trust. So all you need to worry about is which color to
                      try!
                    </p>
                  </figcaption>
                </figure>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--blog area end-->

    <!--testimonial area start-->
    <div id="reviews" class="testimonial_area mb-68">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="testimonial_container">
              <div class="section_title">
                <h2>testimonials</h2>
              </div>
              <div class="testimonial_carousel owl-carousel">
                <div class="single_testimonial">
                  <div class="testimonial_img">
                    <a href="#"
                      ><img
                        src="/img/testimonials/mitchell-luo-ymo_yC_N_2o-unsplash.jpg"
                        alt=""
                    /></a>
                  </div>
                  <div class="testimonial_content">
                    <h4 style="color: white">Sachin Sharma</h4>
                    <p>
                      Been using their clothes since last 2years and I'am
                      totally satisfied with the quality of the fabric.
                    </p>
                  </div>
                </div>
                <div class="single_testimonial">
                  <div class="testimonial_img">
                    <a href="#"
                      ><img
                        src="/img/testimonials/pargat-dhillon-YcX2e-X6aBE-unsplash.jpg"
                        alt=""
                    /></a>
                  </div>
                  <div class="testimonial_content">
                    <h4 style="color: white">Rohani Sinha</h4>
                    <p>
                      Never had any complain about the quality of the fabric or
                      service.
                    </p>
                  </div>
                </div>
                <div class="single_testimonial">
                  <div class="testimonial_img">
                    <a href="#"
                      ><img
                        src="/img/testimonials/167949789_290936959583914_983904840644277783_n.jpg"
                        alt=""
                    /></a>
                  </div>
                  <div class="testimonial_content">
                    <h4 style="color: white">Jaspreet Singh</h4>
                    <p>
                      Best price and quality, I have been buying from
                      fancytextile since last year and never had any issues with
                      it.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--testimonial area end-->

    <!--brand area start-->
    <div class="brand_area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="brand_container owl-carousel">
              <div class="single_brand">
                <a href="#"><img src="/img/brand/raymond.png" alt="" /></a>
              </div>
              <div class="single_brand">
                <a href="#"><img src="/img/brand/grado.png" alt="" /></a>
              </div>
              <div class="single_brand">
                <a href="#"><img src="/img/brand/siyarams.png" alt="" /></a>
              </div>
              <div class="single_brand">
                <a href="#"
                  ><img src="/img/brand/reidandtaylor.png" alt=""
                /></a>
              </div>
              <div class="single_brand">
                <a href="#"><img src="/img/brand/ocm.png" alt="" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--brand area end-->

    <!--footer area start-->
    <footer id="contact" class="footer_widgets">
      <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
              <div class="widgets_container contact_us">
                <div class="footer_logo">
                  <a href="#home"><img src="/img/logo/logo.png" alt="" /></a>
                </div>
                <div class="footer_desc">
                  <p>We would love to serve your needs. Happy Shopping</p>
                </div>

                <p>
                  <span>Address:</span> Opp gurdwara mai nand kaur Ludhiana
                  Punjab
                </p>
                <p>
                  <span>Email:</span>
                  <a href="mailto:info@fancytextile.in">info@fancytextile.in</a>
                </p>
                <p>
                  <span>Phone:</span>
                  <a href="tel:01615099800">01615099800</a>
                </p>
              </div>
            </div>

            <div class="contact_map col-lg-8 col-md-6 col-sm-5">
              <div class="map-area">
                <iframe
                  style="height: 320px"
                  class="map-size"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3423.4648439009206!2d75.82560821513547!3d30.901628481578662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x251e373824eec810!2zMzDCsDU0JzA1LjkiTiA3NcKwNDknNDAuMSJF!5e0!3m2!1sen!2sin!4v1660280539449!5m2!1sen!2sin"
                >
                </iframe>
                <div id="googleMap"></div>
              </div>
            </div>
            <!--contact map end-->
          </div>
        </div>
      </div>

      <div class="footer_bottom">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="copyright_area">
                <p>
                  Copyright &copy; 2022 <a href="#">Fancy Textile</a> All Right
                  Reserved.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="footer_payment text-right">
                <ul>
                  <li>
                    <a href="#"><img src="/img/icon/paypal3.webp" alt="" /></a>
                  </li>

                  <li>
                    <a href="#"><img src="/img/icon/paypal5.webp" alt="" /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--footer area end-->

    <!-- modal area start-->

    <!-- modal area end-->

    <!--news letter popup start-->

    <!--news letter popup start-->

    <!-- JS
============================================ -->

    <!-- Plugins JS -->
    <script src="/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="/js/main.js"></script>
  </body>
</html>
